<nav class="bg-dark">
    <div class="grid col-3 white p-1 align-center w-max-container mx-auto">
        <div></div>
        <div class="text-center text-3xl">
            <span>Twitter Clone</span>
        </div>
        <div class="self-end flex gap-2">
            <% if (locals.session?.username) { %>
                <span class="white">Hello, <%= locals.session.username %></span>
                <a class="white no-underline hover:underline" href="logout">Logout</a>
            <% } else { %>
                <a class="white no-underline hover:underline" href="login">Log In</a>
                <a class="white no-underline hover:underline" href="register">Register</a>
            <% } %>
        </div>
    </div>
</nav>