<nav class="navbar">
    <div></div>
    <div class="navbar_logo">
        <span>Twitter Clone</span>
    </div>
    <div class="navbar_links">
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
    </div>
</nav>