* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --container-width: 1200px;
}

.bg-dark {
    background-color: #333;
}

.grid {
    display: grid;
}

.col-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.white {
    color: white;
}

.p-1 {
    padding: 1rem;
}

.align-center {
    align-items: center;
}

.w-max-container {
    max-width: var(--container-width);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-lg {
    font-size: 1.125rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.self-end {
    justify-self: end;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.hidden {
    display: none;
}

.no-underline {
    text-decoration: none;
}

.hover\:underline:hover {
    text-decoration: underline;
}

.bg-error {
    background-color: #ffd3d0;
}

.border {
    border-width: 1px;
}

.border-solid {
    border-style: solid;
}

.border-error {
    border-color: #b43027;
}

.rounded {
    border-radius: 0.25rem;
}

.error {
    color: #b43027;
}